---
- hosts: all
  become: yes

  pre_tasks:
    - name: Update apt cache if needed.
      apt: update_cache=yes cache_valid_time=3600

  handlers:
    - name: restart nginx
      service:
        name: nginx
        state: restarted

    - name: restart php-fpm
      service:
        name: php8.1-fpm
        state: restarted


  tasks:
    - name: install dependencies
      apt:
        name: "{{ item }}"
        state: present
      with_items:
        - php-cli
        - php-dev
        - php-pear
        - php-fpm
        - php-zip
        - php-mbstring
        - nginx

    - name: nginx config
      copy: 
        src: nginx.conf.example
        dest: /etc/nginx/sites-enabled/default
        owner: root
        group: root
        mode: '0644'
      notify: restart nginx

    - name: php-fmp config
      copy: 
        src: www.conf.example
        dest: /etc/php/8.1/fpm/pool.d/www.conf
        owner: root
        group: root
        mode: '0644'
      notify: restart php-fpm